/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(circle at center, #2D0059, #11011E 60%, #000000);
}

h1, h2, h3, h4, h5, h6, ul, li, span, div, p, a, button {
	margin: 0;
	padding: 0;
	font-size: 16px;
	list-style: none;
	text-decoration: none;
    outline: none;
    border: none;
	font-weight: normal;
    color: var(--pure-white);
}

/* Global styles */
:root {
    /* Colors */
    --main-color: #11011E;
    --primary-color: #0FAE96;
    --secondary-color: #511281;
    --pure-black: #000000;
    --pure-white: #FFFFFF;
    --light-grey: #EAEAEA;
    --grey: #C6C6C6;
    --dark-grey: #808080;
    --font-black-title: #2B2B2B;
    --font-light-title: #ECF1F0;
    --font-light-subtitle: #B6B6B6;

    --button-border-radius: 10px;
    --card-border-radius: 18px;
}

.content {
    max-width: 1400px;
    margin: 0 auto;
}

/* Button */
.button {
    background-color: var(--primary-color);
    color: var(--pure-white);
    border-radius: var(--button-border-radius);
    padding: 16px 24px;
}

/* Typography */

h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 1.36;
}

h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.33;
}

h3 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.22;
}

h4 {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.22;
}

p, span {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

/* Grid */
.grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr); 
    gap: 16px; 
}

.grid-item-1 {
    grid-column: span 4; 
}
  
.grid-item-2 {
    grid-column: span 4;
}

.grid-item-3 {
    grid-column: span 4;
}

.grid-item-4 {
    grid-column: span 4;
}
  
.grid-item-6 {
    grid-column: span 4;
}

.grid-item-8 {
    grid-column: span 4;
}

.grid-item-12 {
    grid-column: span 4;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(8, 1fr); 
    }

    .grid-item-4 {
        grid-column: span 4;
    }

    .grid-item-6 {
        grid-column: span 6;
    }

    .grid-item-8 {
        grid-column: span 8;
    }

    .grid-item-12 {
        grid-column: span 8;
    }
}


@media (min-width: 1200px) {
    .grid {
        grid-template-columns: repeat(12, 1fr); 
    }

    .grid-item-1 {
        grid-column: span 1;
    }
      
    .grid-item-2 {
        grid-column: span 2;
    }

    .grid-item-3 {
        grid-column: span 3;
    }

    .grid-item-4 {
        grid-column: span 4;
    }
      
    .grid-item-6 {
        grid-column: span 6;
    }

    .grid-item-8 {
        grid-column: span 8;
    }

    .grid-item-12 {
        grid-column: span 12;
    }
}

header {
    .content {
        nav ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}
.logo {
    color: red;
}